.spent-time {
   background-color: var(--color-light-gray-bg);
   border-radius: 0.8rem;
   padding: 2.5rem;
   margin-bottom: 2rem;
   border: 1px solid var(--color-primary);
   animation: moveToLeft 0.5s ease-out;
}

.spent-time__text {
   color: var(--color-primary);
   text-align: center;
   font-size: 2rem;
}

.bookmark {
   background-color: var(--color-light-gray-bg);
   border-radius: 0.8rem;
   padding: 2.5rem;
   animation: moveToLeft 0.8s ease-out;
}

.bookmark__counter {
   font-size: 2rem;
   margin-bottom: 1.8rem;
   font-weight: 600;
}
.bookmark__title-box {
   background-color: var(--color-white);
   margin-bottom: 1.5rem;
   padding: 2rem;
   border-radius: 0.8rem;
}

.bookmark__title {
   line-height: 1.4;
   font-weight: 400;
}

/* Media Query for Button */
@media only screen and (min-width: 768px) {
   .bookmark__title {
      line-height: 1.6;
      font-weight: 600;
      color: var(--color-dark-gray);
   }
   .bookmark__counter {
      font-size: 2.4rem;
      font-weight: 700;
   }
   .spent-time__text {
      font-size: 2.2rem;
   }
}
