/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700&family=Lato:wght@300;400;700&display=swap");

/* variables */

:root {
   --color-primary: #6047ec;

   --color-white: #fff;
   --color-black: #111111;

   --color-dark-gray: rgba(17, 17, 17, 0.6);
   --color-light-gray: #dcdcdc;
   --color-light-gray-bg: #efefef;
}

/* Basic Reset */
*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Basic CSS Setting */
html {
   font-size: 10px;
}

body {
   font-family: "Lato", sans-serif;
   font-size: 1.6rem;
   font-weight: 400;
   line-height: 1.7;
   color: var(--color-dark-gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Exo 2", sans-serif;
   font-weight: 700;
   color: var(--color-black);
}

.container {
   width: 114rem;
   max-width: 90%;
   margin: 0 auto;
}

/* Animation */
@keyframes moveToLeft {
   0% {
      transform: translateX(50px);
      opacity: 0;
   }
   100% {
      transform: translateX(0);
      opacity: 1;
   }
}

@keyframes moveToRight {
   0% {
      transform: translateX(-50px);
      opacity: 0;
   }
   100% {
      transform: translateX(0);
      opacity: 1;
   }
}

@keyframes moveToUp {
   0% {
      transform: translateY(100px);
      opacity: 0;
   }
   100% {
      transform: translateY(0);
      opacity: 1;
   }
}

/* Media Query for animation */
@media only screen and (min-width: 768px) {
   /* Animation */
   @keyframes moveToLeft {
      0% {
         transform: translateX(100px);
      }
      100% {
         transform: translateX(0);
      }
   }

   @keyframes moveToRight {
      0% {
         transform: translateX(-100px);
      }
      100% {
         transform: translateX(0);
      }
   }
}

/* Button */
.btn-secondary {
   font-family: "Exo 2", sans-serif;
   color: var(--color-primary);
   font-size: 1.6rem;
   font-weight: 600;
   text-decoration-line: underline;
   display: block;
}

/* Media Query for Button */
@media only screen and (min-width: 768px) {
   /* Button */
   .btn-secondary {
      font-size: 1.8rem;
      font-weight: 600;
   }
}
